## Build outputs
[Bb]in/
[Oo]bj/
[Log]/
[Tt]emp/
[Tt]mp/
x64/
x86/

## IDE and editor files
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.jfm

## NuGet Packages
packages/
*.nuget.props
*.nuget.targets

## OS files
.DS_Store
Thumbs.db

review/
.gitignore
